<form [formGroup]="formGroup" class="container">
    <mat-form-field appearance="fill">
        <mat-label>Primeiro Nome</mat-label>
        <input id="firstName" formControlName="firstName" matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Sobrenome</mat-label>
        <input id="lastName" formControlName="lastName" matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input id="email" formControlName="email" matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input id="birthDate" formControlName="birthDate" type="date" matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Escolaridade</mat-label>
        <mat-select id="scholarity" formControlName="scholarity" required>
            <mat-option *ngFor="let scholarity of scholarities" [value]="scholarity">
                {{scholarity}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button [disabled]="shouldDisableSubmitButton" (click)="submit()" mat-raised-button color="primary">Salvar</button>
</form>